*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(240, 240, 240);
    position: relative;
    overflow-x: hidden;
}
.logo{
    height: 3.5rem;
}
.nav{
    position: fixed;
    z-index: 999;
    padding: .5rem;
}
.hero{
    background-image: url(./images/fondo.png);
    height: 75vh;
    width:100vw;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#363636;
}
.hero p{
    text-align: center;
    margin-top: .5rem;
}
.title{
  font-family: "Baloo 2", sans-serif;

    font-size: 6.2rem;
    font-weight: bolder;
    color: #a82b2f;

}
.title2{
    font-size: 1.5rem;
    color: #363636;
}
.products {
  background-color: #ebebeb;
  background-color: #dbd9d9;

  height: 25vh;
  position: relative;
  overflow: hidden;
  border: 2px solid transparent;
  z-index: 2; /* aseguramos que esté por encima de los pseudo-elementos */
}

/* .products::before {
  content: "";
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  background: red;
  animation: rotacion 5s linear infinite;
  z-index: 0;
}

.products::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background-color: #c4c4c4;
  z-index: 1;
}

.products * {
  position: relative;
  z-index: 2;} */
.growArrow{
font-size: 3rem;
  animation: growinfinite 2s linear infinite alternate;
transition: linear;
}

@keyframes growinfinite{
        from {
        transform: scale(1);
      }
      to {
        transform: scale(1.5);
      }
}
.productsContainer{
    /* background-color: yellow; */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    padding: 0 5rem;
    overflow: hidden;
}
.card{
    color: #a82b2f;
    font-size: 1.3rem;
    font-weight: 800;
    position: relative;
    border-radius: .5rem;
    /* box-shadow: 0 0 .2rem .1rem rgb(0, 0, 0); */
    /* border: solid red 1px; */
    height: 60%;
    aspect-ratio: 2/1;
    background-color: rgb(255, 255, 255);
    transition: .25s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card:hover.grow{
    transform: scale(1.08);
    box-shadow: 1.5PX 1.5PX .5rem 0rem rgba(73, 72, 72, 0.651)

}
.card:hover>.card_logo_img{
filter: grayscale(0);


}
.card:hover>.card_logo_text{
/* visibility: visible; */

}
.card_logo_img{
    filter: grayscale(1);
    height: 3rem;
    position: absolute;
    bottom: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
}
.card_logo_text{
    height: 1rem;
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
}
/* .card_azucar{
    background-image: url(./images/azucar.png);
    background-repeat: no-repeat;
    background-size: contain;
} */
.info_sales{
      height: 100vh;
  width: 100vw;
  padding: 4rem 5rem;
/*  */
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto auto;

  grid-template-areas:
    "titulo  titulo"
    "sal1 ."
    ".  sal2"
    "sal3 .";

  gap: 1rem; /* opcional para separación entre celdas */
}
.sales{
}
.sales_description{
}
.info_title{
    font-size: 3rem;
    text-align: center;
    grid-area: titulo;
    margin-bottom: 3rem;
}
.sales_comunes{
    grid-area: sal1;
    
}
.sales_secas{
    grid-area: sal2;
    
}
.sales_yodadas{
    grid-area: sal3;
    
}
.sales_image{
    height: 15rem;
    max-width: auto;
}
/* .hero::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(68, 67, 67, 0.37);    
} */
     .fade-in {
      opacity: 0;
      transform: translateX(-300px);
      transition: opacity 0.8s ease, transform 1s ease;
    }
 .fade-in-right {
      opacity: 0%;
      transform: translateX(300px);
      transition: opacity 0.8s ease, transform 1s ease;
    }
    .fade-in.visible {
      opacity: 1;
      transform: translateX(50px);
    }
       .fade-in-right.visible-right {
      opacity: 1;
      transform: translateX(-50px);
    }